{% extends "base.html" %}
{% block title %}XPass - Assessments{% endblock %}
{% block content %}
<h1>Assessments</h1>
<table class="liste">
	<tr class="liste-header">
		<th>
			ID
		</th>
		<th>
			Name
		</th>
        <th>
			Course
		</th>
        <th>
			Assessor
		</th>
		{% if perms.ysnp.change_assignment %}
		<th>
			Edit
		</th>
		{% endif %}
	</tr>
	{% for assessment in assessments %}
	<tr  class="liste-body 	{% cycle 'row1' 'row2' %}">
		<td>
			{{assessment.assessment_id}}
		</td>
		<td>
            <a href="{% url 'assessment-detail' assessment.assessment_id %}">{{assessment.name}}</a>
		</td>
        <td>
			<a href="{% url 'course-detail' assessment.course.course_id %}">{{assessment.course.name}}</a>
		</td>
        <td>
			{{assessment.assessor.user.first_name}} {{assessment.assessor.user.last_name}}
		</td>
		{% if perms.ysnp.change_assessment %}
		<td>
            <a href="{% url 'assessment-update' assessment.assessment_id %}">edit</a>
		</td>
		{% endif %}
	</tr>
	{%  endfor %}
</table>
{% endblock %}