{% extends "base.html" %}
{% block title %}XPass - {{ assessment.name }}{% endblock %}
{% block content %}
{% if allowed %}
<h1>{{ assessment.name }}</h1>
{% if perms.ysnp.change_assignment %}
    <a href="{% url 'assessment-update' assessment.assessment_id %}" class="button">Edit</a><br>
{% endif %}
<p>
    <b>Assessor:</b> {{ assessment.assessor.user.first_name }} {{ assessment.assessor.user.last_name }} <br>
    <b>Course:</b> <a href="{% url 'course-detail' assessment.course.course_id %}">{{ assessment.course.name }}</a>
</p>
<h2> Assignments </h2>
    {% if assignments %}
        <table class="liste">
            <tr class="liste-header">
                <th>
                    AssignmentID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Tolerance
                </th>
                {% if perms.ysnp.change_assignment %}
                <th>
                    Edit
                </th>
                {% endif %}
            </tr>
            {% for assignment in assignments %}
            <tr  class="liste-body 	{% cycle 'row1' 'row2' %}">
                <td>
                    {{ assignment.assignment_id }}
                </td>
                <td>
                    <a href="{% url 'assignment-detail' assignment.assignment_id %}">{{assignment.name}}</a>
                </td>
                <td>
                    {{ assignment.tolerance }}
                </td>
                {% if perms.ysnp.change_assignment %}
                <td>
                    <a href="{% url 'assignment-update' assignment.assignment_id %}">edit</a>
                </td>
                {% endif %}
            </tr>
            {%  endfor %}
        </table>
    {% else %}
        No assignments.
    {% endif %}
{% else %}
<h1>403 Permission denied</h1>
You don't have sufficient permission. 
{% endif %}
<br>
<a href="{% url 'assessment-list' %}">All assessments</a>
{% endblock %}