{% extends "base.html" %}
{% block title %}XPass - {{ assessment.name }}{% endblock %}
{% block content %}
{% if allowed %}
<h1 class="heading">{{ assessment.name }}</h1>
{% if perms.ysnp.change_assessment and is_this_lecturer %}
    	<a href="{% url 'assessment-update' assessment.assessment_id %}">
		<img class="heading_icon" src="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/icons/settings2.png">
	</a><br>
{% endif %}
<p>
    <b>Assessor:</b> {{ assessment.assessor.user.first_name }} {{ assessment.assessor.user.last_name }} <br>
    <b>Course:</b> <a href="{% url 'course-detail' assessment.course.course_id %}">{{ assessment.course.name }}</a>
</p>
<h2> Assignments </h2>
    {% if assignments %}
        <table class="liste">
            <tr class="liste-header">
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Tolerance
                </th>
                <th>
                    Score
                </th>
                {% if perms.ysnp.change_assignment and is_this_lecturer %}
                <th>
                    
                </th>
                {% endif %}
            </tr>
            {% for assignment in assignments %}
            <tr  class="liste-body 	{% cycle 'row1' 'row2' %}">
                <td>
                    {{ assignment.assignment_id }}
                </td>
                <td>
                    <a href="{% url 'assignment-detail' assignment.assignment_id %}">{{assignment.name}}</a>
                </td>
                <td>
                    {{ assignment.tolerance }}
                </td>
                <td>
                    <a href="{% url 'result-detail' assignment.assignment_id %}">{{ assignment.result }}</a>
                </td>
                {% if perms.ysnp.change_assignment and is_this_lecturer %}
                <td>
                    	<a href="{% url 'assignment-update' assignment.assignment_id %}">
				<img class="icon" src="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/icons/settings.png">
			</a>
                </td>
                {% endif %}
            </tr>
            {%  endfor %}
            <tr>
            	<td>Result: {{grade}}</td>
            </tr>
        </table>
    {% else %}
        No assignments.
    {% endif %}
{% if perms.ysnp.add_assignment and is_this_lecturer %}
    	<a href="{% url 'assignment-create' assessment.assessment_id %}">
		<img class="icon" src="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/icons/plus.png">
		Assignment
	</a>
	<br>
{% endif %}
{% else %}
<h1>403 Permission denied</h1>
You don't have sufficient permission. 
{% endif %}
<br>
<a href="{% url 'assessment-list' %}">All assessments</a>
{% endblock %}
