{% extends "base.html" %}
{% block title %}XPass - Assignments{% endblock %}
{% block content %}
<h1>Assignments</h1>
<table class="liste">
	<tr class="liste-header">
		<th>
			ID
		</th>
		<th>
			Name
		</th>
        <th>
			Tolerance
		</th>
        <th>
			Assessment
		</th>
		{% if perms.ysnp.change_assignment %}
		<th>
			Edit
		</th>
		{% endif %}
	</tr>
	{% for assignment in assignments %}
	<tr  class="liste-body 	{% cycle 'row1' 'row2' %}">
		<td>
			{{assignment.assignment_id}}
		</td>
        <td>
            <a href="{% url 'assignment-detail' assignment.assignment_id %}">{{assignment.name}}</a>
		</td>
        <td>
			{{assignment.tolerance}}
		</td>
		<td>
            <a href="{% url 'assessment-detail' assignment.assessment.assessment_id %}">{{assignment.assessment.name}}</a>
		</td>
		{% if perms.ysnp.change_assignment %}
		<td>
            <a href="{% url 'assignment-update' assignment.assignment_id %}">edit</a>
		</td>
		{% endif %}
	</tr>
	{%  endfor %}
</table>
{% endblock %}