<html>
	<head>
		<title>
			{% block title %} XPass {% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/footer.css">
	</head>
	<body>
		{% include 'header.html' %}
		<div id="contentdiv">
			{% block content %}
	        	<h1>
	        		Welcome {{ user.first_name }} {{ user.last_name }}
	        	</h1>
	        	<br>
	        {% endblock %}
        </div>
        <div id="footerdiv">
            <div>
                {% block footer %}
                Last login: {{ user.last_login }}
                {% endblock %}
            </div>
        </div>        
	</body>
</html>
