<html>
	<head>
		<title>
			{% block title %} XPass {% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/footer.css">
	</head>
	<body>
		<div class="centered maindiv">
			{% include 'header.html' %}
			<div id="contentdiv">
				{% block content %}
					<h1>
						News
					</h1>
		        	<div class="news">
		        		<p class="date">
		        			14. Mai 2014
		        		</p>
		        		<h1>
		        			Roll-out des eSleek14
		        		</h1>
		        		<p class="news_abstract">
		        			Am Abend des 23. Mai 2014 ist es wieder soweit: Das Engineering-Team der DHBW Stuttgart enthüllt feierlich den Rennwagen für die Saison 2013/2014. Dabei wird nicht nur der neue eSleek14, sondern auch das gesamte – mit mittlerweile 70 Studierenden besetzte – Engineering-Team und der aktuelle Saisonplan vorgestellt.
		        		</p>
		        		<p>
		        			Im Audimax in der Jägerstr. 58 wird ab 18 Uhr der neue Rennwagen präsentiert. Der neue eSleek14 hat auch einiges zu bieten: CFK Voll Monocoque, 10 Zoll CFK Räder, ein aerodynamischer Unterboden und eine zweigeteilte Seitenkastenbatterie. Die maximale Geschwindigkeit beträgt 130 km/h. Der Rennwagen beschleunigt von Null auf Hundert in drei Sekunden – ein ordentliches Gefährt für die aktuelle Rennsaison.
		        			<br><br>
							Das junge Engineering Team der DHBW Stuttgart erwartet eine herausfordernde Saison. Rennen in Hockenheim (29.07.-04.08.) und Barcelona (27.08.-01.09.) werden mit Spannung erwartet. Das Saisonziel des Teams ist dabei klar definiert: In allen Disziplinen soll die Top 15 erreicht werden. Das soll im Ergebnis für eine Top 10 Platzierung in Hockenheim reichen.
							<br><br>
							Ohne die lange Vorarbeit, die Konzeptions-, Konstruktions- und Entwicklungsprozesse wären diese Mammutaufgaben nicht zu stemmen. Jetzt wird sich zeigen, ob sich die harte Arbeit gelohnt hat. Das Team hat zumindest alles gegeben. Ganz nach dem Motto: „You need an A-Team to build an e-car“. Na dann kann es ja losgehen. 
		        		</p>
		        	</div>
		        	<div class="news">
		        		<p class="date">
		        			12. Mai 2014
		        		</p>
		        		<h1>
		        			Videotaxifahrt für Professor Dr. Gondring als „Immo-Experte“ mit der Stuttgarter Zeitung
		        		</h1>
		        		<p class="news_abstract">
		        			Prof. Dr. Hanspeter Gondring ist auf Immobilien spezialisiert und als Experte in der Branche bekannt. Immer wieder ist er deshalb auch bei Funk und Fernsehen eingeladen. So auch am vergangenen Mittwoch, den 7. Mai 2014 für ein Interview während einer Videotaxifahrt. Thema war „Immobilienmarkt und Stadtentwicklung Stuttgart“ mit der Stuttgarter Zeitung. Hintergrund für das Interview ist ein Clip, der für die Kommunalwahlen veröffentlicht wird.
		        		</p>
		        		<p>
		        			 Am vergangenen Mittwoch sorgte Professor Dr. Hanspeter Gondring für Aufsehen am Standort Herdweg der Fakultät Wirtschaft der DHBW Stuttgart. Denn der Professor wird nicht alltäglich von einem Journalisten mit einem Videotaxi für ein Interview vor seinem Büro abgeholt.
		        			 <br><br>
							„Und bitte“, hieß es als die Kamera lief, um Dr. Hanspeter Gondring abzufilmen. Daraufhin läuft der Immobilienexperte zu einem mit vielen Kameras präparierten Taxi. Darin wartet bereits der Lokalredakteur der Stuttgarter Zeitung, Ingmar Volkmann. Gemeinsames Fahrtziel: Das schwierige Wohngebiet Hallschlag der Landeshauptstadt. „Eine Fahrt, ein Interview“ lautet die Agenda. Während der Fahrt werden unter anderem optimierbare Punkte in der Stadtentwicklung am Beispiel dieses Gebiets aufgezeigt – in Wort und mit Bild vor Ort.
							<br><br>
							Dabei erklärt und übersetzt Professor Gondring bspw. das sogenannte Leitbild „europäische Stadt“ national, wie man Quartiere aufwerten kann und wo Migration stattfindet. Mit konkreten Beispielen und Handlungsempfehlungen. Zu viel soll an dieser Stelle jedoch nicht preisgegeben werden, denn die Videoreportage erscheint erst noch online. Der Link hierzu folgt, sobald er „live“ geht.
							<br><br>
							Am morgigen Dienstag wird Professor Gondring sich und sein Netzwerk wieder mit Expertenthemen präsentieren. Ganz im Sinne des dualen Studiums stellt er im Rahmen des sog. Stuttgarter Immobilien Talks mit hochkarätigen Referenten wichtige theoretische Modelle in der Immobilienbranche so wie hoch aktuelle praxisnahe Themen vor. 
		        		</p>
		        	</div>
		        {% endblock %}
			</div>
			<div id="footerdiv">
   	        	<div>
   	            {% block footer %}
   	            Last login: {{ user.last_login }} | Current user: {{ user.first_name }} {{ user.last_name }}
   	            {% endblock %}
   	        </div>
        </div>        
	</body>
</html>
