<html>
	<head>
		<title>
			XPass Main View
		</title>
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/main.css">
	</head>
	<body>
		{% include 'header.html' %}
		<div class="contentdiv">
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
		</div>
	</body>
</html>
