{% extends "base.html" %}
{% block title %}XPass - {{ course.name }}{% endblock %}
{% block content %}
<h1>{{ course.name }}</h1>
<table class="liste">
	<tr class="liste-header">
		<th>
			MatrikelNr.
		</th>
		<th>
			Name
		</th>
        <th>
            Semester
        </th>
	</tr>
	{% for student in students %}
	<tr  class="liste-body 	{% cycle 'row1' 'row2' %}">
		<td>
			{{ student.matrikelNr }}
		</td>
		<td>
			{{ student.user.first_name }} {{ student.user.last_name }}
		</td>
        <td>
			{{ student.semester }}
		</td>
	</tr>
	{%  endfor %}
    <a href="{% url 'course-list' %}">back to list</a>
</table>
{% endblock %}