{% extends "base.html" %}
{% block title %}XPass - {{ course.name }}{% endblock %}
{% block content %}

{% if allowed %}

<h1>{{ course.name }}</h1>
Lecturer: {{course.lecturer.user.first_name}} {{ course.lecturer.user.last_name }}
<h2> Students </h2>  
    {% if students %}
        <table class="liste">

            <tr class="liste-header">
                <th>
                    MatrikelNr.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Semester
                </th>
            </tr>
            {% for student in students %}
            <tr  class="liste-body 	{% cycle 'row1' 'row2' %}">
                <td>
                    {{ student.matrikel_nr }}
                </td>
                <td>
                    {{ student.user.first_name }} {{ student.user.last_name }}
                </td>
                <td>
                    {{ student.semester }}
                </td>
            </tr>
            {%  endfor %}
        </table>
    {% else %}
        No students.
    {% endif %}
<h2> Assessments </h2>    
    {% if assessments %}
        <table class="liste">
        <tr class="liste-header">
            <th>
                AssessmentID
            </th>
            <th>
                Name
            </th>
            <th>
                Assessor
            </th>
        </tr>
            {% for assessment in assessments %}
            <tr  class="liste-body 	{% cycle 'row1' 'row2' %}">
                <td>
                    {{ assessment.assessment_id }}
                </td>
                <td>
                    <a href="{% url 'assessment-detail' assessment.assessment_id %}">{{ assessment.name }}</a>
                </td>
                <td>
                    {{ assessment.assessor.user.first_name }} {{ assessment.assessor.user.last_name }}
                </td>
            </tr>
            {%  endfor %}
        </table>
    {% else %}
    No assessments
    {% endif %}
{% else %}
<h1>403 Permission denied</h1>
You are not the lecturer of this course or a student!
{% endif %}
<br>
<a href="{% url 'course-list' %}">All courses</a>
{% endblock %}