<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/header.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
<div id="headerdiv">
    <a href="{% url 'home' %}">
    	<img id="header_logo" src="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/images/xpass_logo_klein.png">
    </a>
    {% if user.is_authenticated %}
	<ul class="uberlist">
		{% if user.profile.is_lecturer or user.profile.is_student %}
		<li class="main">
			<a href="{% url 'course-list' %}">Courses</a>
			<ul>
				<li class="unterpunkt">
					<a href="{% url 'course-list' %}">List</a>
				</li>
			</ul>
		</li>
		{% endif %}
		<li class="main">
			<a href="{% url 'assessment-list' %}">Assessments</a>
			<ul>
				<li class="unterpunkt">
					<a href="{% url 'assessment-list' %}">List</a>
				</li>
				{% if perms.ysnp.add_assessment %}
				<li class="unterpunkt">
					<a href="{% url 'assessment-create' %}">Add</a>
				</li>
				{% endif %}
			</ul>
		</li>
		{% if user.profile.is_student %}
		<li class="main">
			<a href="{% url 'result-list' %}">Results</a>
			<ul>
				<li class="unterpunkt">
					<a href="{% url 'result-list' %}">List</a>
				</li>
			</ul>
		</li>
		{% endif %}
        <li class="main">
			<a href="{% url 'user-profile' %}">Account</a>
			<ul>
                <li class="unterpunkt">
					<a href="{% url 'user-profile' %}">Profile</a>
				</li>
                {% if user.is_superuser %}
				<li class="unterpunkt">
					<a href="{% url 'admin:index' %}">Admin</a>
				</li>
                {% endif %}
				<li class="unterpunkt">
					<a href="{% url 'user-logout' %}">Logout</a>
				</li>
			</ul>
		</li>
	</ul>
    {% endif %}
</div>
