<html>
	<head>
		<title>
			XPass Login
		</title>
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/login.css">
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<!-- logo blau: r46 g49 b146 -->
	<div class="centered logindiv">
			
		<img id="login_logo" src="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/images/xpass_logo_gross.png">
		{% if form.errors %}
			<div style="border: 1px solid red;margin-top:10px;">
				Not a valid password or username.
			</div>
		{% endif %}
        
		<form action="" method="post" accept-charset="utf-8">
			<br><br>
			<input name="username" type="text" placeholder="Username" class="input textinput">
			<br><br>
			<input name="password" type="password" placeholder="Password" class="input textinput">
			<br><br>
		    {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
		    <input type="submit" name="submit" value="Log In" class="input login">
		</form>
        <a href="{% url 'password_reset_recover' %}"> I forgot my password </a>
	</div>
</body>
</html>
