{% extends "logged_out_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
	{% trans "XPass Login" %}
{% endblock %}

{% block content %}
	<div class="centered logindiv">
			
		<img id="login_logo" src="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/images/xpass_logo_gross.png">
		{% if form.errors %}
			<div style="border: 1px solid red;margin-top:10px;">
				Not a valid password or username.
			</div>
		{% endif %}
        
		<form action="" method="post" accept-charset="utf-8">
			<br><br>
			<input name="username" type="text" placeholder="Username" class="input textinput">
			<br><br>
			<input name="password" type="password" placeholder="Password" class="input textinput">
			<br><br>
		    {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
		    <input type="submit" name="submit" value="Log In" class="input login">
		</form>
        <a href="{% url 'password_reset_recover' %}"> I forgot my password </a>
	</div>
{% endblock %}