<html>
	<head>
		<title>
			XPass Login
		</title>
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12040/static/css/login.css">
		<link rel="stylesheet" type="text/css" href="http://wwwlehre.dhbw-stuttgart.de/~it12040/static/css/main.css">
	</head>
	<body>
	<!-- logo blau: r46 g49 b146 -->
	<div class="centered">
			
		<img id="login_logo" src="http://wwwlehre.dhbw-stuttgart.de/~it12157/static/images/xpass_logo.png">
		Thank you for visiting!
        <a href="{% url 'user-login' %}">Log back in</a>
</body>
</html>
