<html>
	<head>
		<title>
			XPass Main View
		</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head>
	<body>
		<?php
			include 'header.html';
		?>
		<div class="contentdiv">
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
			<p>Random Stuff here<br><br></p>
		</div>
	</body>
</html>
